body{
    background-color:rgb(255, 99, 71);
    width: 100px;
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }
.new{
    margin: 0 auto;
    padding: 20px;
    min-width: 300px;
    max-width: 400px;
    border-radius: 10px;
    text-align: center;
   
}
input{
    width: 100%;
    padding: 20px;
    font-size: 20px;
    margin: 5px auto;
    border:10px solid yellow;
}
